:root {
    font-family: sans-serif;
    background-color: rgb(230, 230, 230);
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    font-weight: 400;
}

p {
    font-size: 20px;
    font-weight: 300;
}

img {
    background-color: black;
    width: 80px;
    height: 80px;
}

.container1 {
    margin-bottom: 36px;
    padding: 46px;
    text-align: center;
    background-color: white;
}

.container1-content {
    margin: 0px 120px;
}

.container1 img {
    border-radius: 100%;
    margin: 16px;
}

.container2 {
    margin-bottom: 36px;
    padding: 46px 0px;
    text-align: center;
    background-color: white;
}

.container2-content {
    margin: 0px 120px;
}

.container2 img {
    width: 120px;
    height: 40px;
    margin: 36px;
}

.container3 {
    margin-bottom: 36px;
    padding: 46px 0px;
    text-align: center;
    background-color: white;
}

.container3-content {
    margin: 54px 120px;
}

.container3 img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 16px 0;
}

.container3 .quote-name {
    font-size: 14px;
}